.about {
    background-color: skyblue;
    text-align: center;
}

.main-headline {
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    text-shadow: 0 0 5px #636b6f;
    color: #636b6f;
}

#iframe {
    width: 560px;
    height: 315px;
    /* border: 2px solid white; */
    box-shadow: 0 0 20px black;
}

.ipsum-text {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
}

.random-text {
    margin-top: 70px;
    font-size: 16px;
    margin-bottom: 20px;
}

.logo {
    width: 90px;
    height: 20px;
}

@media only screen and (max-width: 420px) {
    .main-headline {
        font-size: 24px;
        padding-top: 100px;
        padding-bottom: 20px;
        text-shadow: 0 0 5px #636b6f;
        color: #636b6f;
    }

    #iframe {
        width: 302px;
        height: 170px;
        /* width: 80%; */
    }

    .ipsum-text {
        width: 290px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 16px;
    }

    .random-text {
        margin-top: 50px;
        font-size: 14px;
        margin-bottom: 14px;
    }

    .logo {
        width: 72px;
        height: 16px;
    }
}