html, body {
    /* background-color: #fff;
     */
    background: linear-gradient(to right, #fc8b56, #fd5656);
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.title {
    font-size: 84px;
}

.content {
    text-align: center;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.m-b-md {
    margin-bottom: 30px;
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
  }
  
  [type="file"] + label {
    background: #f15d22;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
  }
  [type="file"] + label:hover {
    background-color: #d3460d;
  }

.main-section {
    height: 100vh;
}

.about {
    background-color: skyblue;
}

.buy-keep-case{
    background-color: mediumpurple;
}